<script type="text/template" id="game-bin-template">
    <div class="b-drop"><div></div></div>
    <img src="images/trash_tanks/trashcan-<%= type %>.png" />
    <img src="images/trash_tanks_up/trashcan-<%= type %>-up.png" />
    <!--<svg>
        <use xlink:href="#icon-shared-bible-trashcan-<%= type %>"></use>
    </svg>-->
</script>
<script type="text/template" id="game-trash-template">
    <div class="t-drop"></div>
    <img src="images/trash_items/trash-<%= type %>-<%= subtype %>.png" />
</script>
<script type="text/template" id="episodes-template">
    <!--<div class="episodes" style="left:-<%= active>2?(active>amount-2?6*11.025-0.5:(active-2)*11.025-11.025/2):0 %>em;">-->
    <div class="episodes">
        <% for(let i=1;i<amount+1;i++) { %>
        <a class="ep-item<%= active===i?' active':'' %><%= i>avail?' inav':'' %>" href="index.html?episode=<%= i %>">
            <div class="ep-wrap" style="<%= i===amount?'transform:scale(-1,1);':'' %>">
                <svg>
                    <use xlink:href="#icon-shared-potok-<%= i===1||i===amount?'start':'mid' %>"></use>
                </svg>
                <svg>
                    <use xlink:href="#icon-shared-potok-<%= i===1||i===amount?'start':'mid' %>-a"></use>
                </svg>
                <svg>
                    <use xlink:href="#icon-shared-potok-<%= i===1||i===amount?'start':'mid' %>-p"></use>
                </svg>
                <svg>
                    <use xlink:href="#icon-shared-potok-<%= i===1||i===amount?'start':'mid' %>-hover"></use>
                </svg>
            </div>
            <span><%= i %></span>
        </a>
        <% } %>
    </div>
</script>
<!--#icon-shared-map-marker-<%= data[i].id %>-->
<script type="text/template" id="map-template">
    <div class="map-block">
        <div class="map-inner" style="background-image: url(images/map-bg.jpg);">
            <% for(let i=0;i<data.length;i++) { %>
            <div data-id="<%= data[i].id %>" class="map-mark" style="left:<%= data[i].left %>%;top:<%= data[i].top %>%;">
                <svg>
                    <use xlink:href="#icon-shared-map-marker-n"></use>
                </svg>
                <svg>
                    <use xlink:href="#icon-shared-map-marker"></use>
                </svg>
            </div>
            <% } %>
        </div>
        <svg class="brows">
            <use xlink:href="#icon-shared-map-brows"></use>
        </svg>
    </div>
    <div class="uni-pop">
        <div class="uni-pop-close"></div>
        <svg class="uni-pop-bg">
            <use xlink:href="#icon-shared-map-pop-bg"></use>
        </svg>
        <svg class="uni-pop-bg">
            <use xlink:href="#icon-shared-map-pop-close"></use>
        </svg>
        <svg class="uni-pop-bg hover">
            <use xlink:href="#icon-shared-map-pop-close-h"></use>
        </svg>
    </div>
</script>
<script type="text/template" id="map-pop-template">
    <div class="map-pop-big">
        <svg>
            <use xlink:href="#icon-shared-map-marker-<%= id %>"></use>
        </svg>
    </div>
    <div class="uni-pop-text">
    
    </div>
    <div class="map-pop-forget">Решение этой проблемы в твои руках &mdash; просто сделай выбор</div>
</script>
<script type="text/template" id="map-pop-text-template">
    <div class="t-hdr"><%= h %></div>
    <div class="t-scroll">
        <%= text %>
    </div>
</script>
<script type="text/template" id="chat-msg-template">
    <div class="chat-msg <%= isBot?'bot':'me' %>">
        <div class="chat-msg-text">
            <div><%= text %></div>
        </div>
    </div>
</script>
<script type="text/template" id="chat-choose-template">
    <% for(let i=0;i<user.length;i++) { %>
    <div class="chat-choose">
        <%= user[i].text %>
        <% if(i===0) { %>
        <svg class="chat-ctrls-bg">
            <use xlink:href="#icon-shared-chat-ans-<%= user.length %>"></use>
        </svg>
        <% } %>
        <svg class="chat-choose-h">
            <use xlink:href="#icon-shared-chat-ans-<%= user.length %>-<%= i+1 %>"></use>
        </svg>
    </div>
    <% } %>
</script>
<script type="text/template" id="bible-template">
    <div class="bible-items">
        <div class="bible-items-wrap t-scroll-wrap" style="margin-right:<%= margin %>px;">
            <div class="bible-items-inner t-scroll-inner"></div>
        </div>
        <div class="t-scroll-bar"><div></div></div>
    </div>
    <div class="bottom-panel">
        <svg>
            <use xlink:href="#icon-shared-bible-smallscreen-bg"></use>
        </svg>
        <div class="bible-tab-name"></div>
    </div>
    <div class="bible-tabs">
        <% for(let [x,y] of Object.entries(data)) { %>
        <div data-type="<%= x %>" class="bible-tab">
            <img src="images/bible_under_items/bible-<%= x %>.svg" alt=""/>
            <img src="images/bible_under_items/bible-<%= x %>-a.svg" alt=""/>
            <img src="images/bible_under_items/bible-<%= x %>-h.png" alt=""/>
            <!--<svg>
                <use xlink:href="#bible-smallscreen-item-<%= x %>"></use>
            </svg>
            <svg>
                <use xlink:href="#bible-smallscreen-item-<%= x %>-a"></use>
            </svg>-->
        </div>
        <% } %>
    </div>
    <div class="uni-pop">
        <div class="uni-pop-close"></div>
        <svg class="uni-pop-bg">
            <use xlink:href="#icon-shared-bible-pop-bg"></use>
        </svg>
        <svg class="uni-pop-bg">
            <use xlink:href="#icon-shared-map-pop-close"></use>
        </svg>
        <svg class="uni-pop-bg hover">
            <use xlink:href="#icon-shared-map-pop-close-h"></use>
        </svg>
    </div>
</script>
<script type="text/template" id="bible-tab-template">
    <% for(let i=0;i<data.length;i++) { %>
    <div data-id="<%= data[i].id %>" class="bible-item<%= data[i].no?' no':'' %>">
        <div class="bible-item-bg">
            <svg>
                <use xlink:href="#icon-shared-bible-item-under<%= (data[i].no?'-blank':'-'+id) %>"></use>
            </svg>
        </div>
        <% if(!data[i].no) { %>
        <div class="bible-item-img">
            <img src="images/bible_items/bible-<%= id %>-<%= data[i].id %>.png" alt=""/>
        </div>
        <div class="bible-item-h"><%= data[i].h %></div>
        <% } %>
    </div>
    <% } %>
</script>
<script type="text/template" id="bible-pop-template">
    <div class="bible-pop-big">
        <img src="images/bible_items/bible-<%= tid %>-<%= id %>.png" alt=""/>
    </div>
    <div class="uni-pop-text">
        <div class="t-hdr"><%= h %></div>
        <div class="t-scroll">
            <div class="t-scroll-wrap" style="margin-right:<%= margin %>px;">
                <div class="t-scroll-inner">
                    <%= text %>
                </div>
            </div>
        </div>
        <div class="t-scroll-bar"><div></div></div>
    </div>
</script>