@include exports("@path:base\_exts.scss"){/*@path:base\_exts.scss*/
  %scaler{
    height:56.25vw; //h:w=9/16
    max-height:100vh;
    max-width:177.78vh; //16/9=1.778
    margin:auto;
  }
  %svg-click{
    &:active svg{
      opacity:0;
      &+svg{
        opacity:1;
      }
    }
    svg+svg{
      opacity:0;
    }
  }
}