@include exports("@path:base\_rules.scss"){/*@path:base\_rules.scss*/
  //@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;700&display=swap');

  @font-face{
    font-family:pdt-player;
    src:url("../fonts/pdt-player.woff") format("woff");
  }

  .safe-hide-svg{
    @include abs($l:0,$t:-100px);
    width:1px;
    height:1px;
    overflow:hidden;
  }

  //----------------------------

  html{
    height:100%;
  }

  body{
    height:100%;
    font:500 1.575vw/1.25 font();
    @include no-sel();
    @media (min-aspect-ratio:16/9){
      font-size:2.8vh;
    }
  }

  #wrap{
    height:100%;
    position:relative;
    overflow:hidden;
    min-width:$miw;
    background:#d6d6d6;
  }

  #wrap-wrap{
    @include abs($t:0,$b:0,$l:0,$r:0);
    @extend %scaler;
  }

  .safe-hide-svg{
    height:0;
    overflow:hidden;
  }
}