@include exports("@path:components\_game.scss"){/*@path:components\_game.scss*/
  .trash-pop{
    @include abs($l:-1px,$r:-1px,$t:0,$b:0);
    z-index:1;
    background:#ddd;
    opacity:0;
    pointer-events:none;
    text-align:center;
    @include no-sel();
    @include trs('opacity #{$anim} ease-in-out');
    &.fs{
      left:0;
      right:0;
      .trash-wrap{
        @include abs($l:0,$r:0,$t:0,$b:0);
        @extend %scaler;
      }
    }
    &.shown{
      opacity:1;
      pointer-events:auto;
    }
    &.game-active{
      .return-btn{
        pointer-events:none;
        opacity:0.2;
      }
      .game-btn{

      }
    }
    svg{
      @include abs($l:0,$t:0);
      width:100%;
      height:100%;
    }
    .trash-wrap{
      height:100%;
      position:relative;
    }
    .trash-bg{
      @include abs($l:0,$t:0);
      width:100%;
      height:100%;
    }
    .trash-main{
      @include abs($l:13.1%,$t:4.4%);
      width:68.7%;
      height:68.2%;//15.9%,8.9%
      /*@include abs($l:12.95%,$t:4.1%);
      width:69%;
      height:69%;*/
      $bg:'';
      @for $x from 0 through 5
      {
       $bg:'linear-gradient(90deg,#{rgba(#fff,0.2)} 3px,transparent 3px,transparent 3px) left '+(10.7+15.9*$x)+'%/6px 1px repeat-x,'+$bg;
      }
      @for $x from 0 through 11
      {
        $bg:'linear-gradient(0deg,#{rgba(#fff,0.2)} 3px,transparent 3px,transparent 3px) '+(1.1+8.9*$x)+'% top/1px 6px repeat-y,'+$bg;
      }
      $bg:str-slice($bg,1,str-length($bg)-1)+';';
      background:unquote($bg);
    }
    .return-btn,.videos-btn,.map-btn,.book-btn,.chat-btn,.game-btn{
      cursor:pointer;
      @include abs($l:2.3%);
      width:8.9%;
      height:9.7%;
      @extend %svg-click;
    }
    .return-btn{
      top:4.2%;
      height:16.4%;
    }
    .videos-btn{
      top:22.2%;
      width:8.9%;
    }
    .map-btn{
      top:32.8%;
      width:8.9%;
    }
    .book-btn{
      top:43.4%;
      width:8.9%;
    }
    .chat-btn{
      top:54%;
      width:8.9%;
    }
    .game-btn{
      bottom:3.1%;
      width:8.9%;
      height:19.7%;
    }
    .null-btn{
      @include abs($r:4.1%,$t:11.1%);
      width:9.7%;
      height:18.9%;
      @extend %svg-click;
    }
    .prog1,.prog2,.prog3{
      @include abs($r:4.2%);
      width:9%;
      height:4.2%;
      span{
        @include abs($l:-13%,$t:22%);
        font-size:14px;
        font-weight:700;
        color:#000;
      }
    }
    .prog1{
      top:39.2%;
      svg{
        clip-path: polygon(33% 0, 74% 0, 74% 100%, 32% 100%);
      }
    }
    .prog2{
      top:44.7%;
    }
    .prog3{
      top:50.2%;
    }
    .prog-u{
      @include abs($r:4.8%,$t:56.7%);
      width:8.1%;
      height:1.7%;
      @include flx(display,flex);
      @include flx(justify-content,space-between);
      div{
        position:relative;
        width:12%;
      }
      svg{
        @include abs($l:0,$t:0);
        &+svg{
          opacity:0.5;
        }
      }
    }
    .t-f-under{
      @include abs($l:12.9%,$b:4.2%);
      width:69.1%;
      height:18.6%;//15.9%,8.9%
      background:#000;
      border-radius:1%/5%;
    }
    .trash-footer{
      @include abs($l:13.1%,$b:4.2%);
      width:68.7%;
      height:18.6%;

      $bg:'';
      @for $x from 0 through 1
      {
        $bg:'linear-gradient(90deg,#{rgba(#fff,0.2)} 3px,transparent 3px,transparent 3px) left '+(20.9+58.2*$x)+'%/6px 1px repeat-x,'+$bg;
      }
      @for $x from 0 through 11
      {
        $bg:'linear-gradient(0deg,#{rgba(#fff,0.2)} 3px,transparent 3px,transparent 3px) '+(1.1+8.9*$x)+'% top/1px 6px repeat-y,'+$bg;
      }
      $bg:str-slice($bg,1,str-length($bg)-1)+';';
      background:unquote($bg);
    }
    .menu-btn,.load-save-btn{
      @include abs($r:9.9%,$b:6.4%);
      width:6.3%;
      height:16.4%;
      cursor:pointer;
      @extend %svg-click;
    }
    .load-save-btn{
      right:1.5%;
    }
    //game
    .trash-game{
      background:#3f6a99;
      border-radius:1%;
      height:100%;
      opacity:0;
      visibility:hidden;
      position:relative;
      overflow:hidden;
      @include trs('opacity #{$anim} ease-in-out');
      &.shown{
        opacity:1;
        visibility:visible;
      }
    }
    .bins{
      @include abs($l:3%,$r:3%,$b:5%,$t:0);
      @include flx(display,flex);
      @include flx(justify-content,space-between);
      @include flx(align-items,flex-end);
    }
    .bin{
      width:10%;
      height:20%;
      background:#ddd;
      position:relative;
    }
    .b-text{
      @include center();
      color:#000;
    }
    .b-drop{
      background:rgba(#f00,0.2);
      width:80%;
      height:80%;
      @include center();
    }
    .fail-line{
      @include abs($l:0,$r:0);
      border-top:2px solid rgba(#f00,0.4);
    }
    .trash{
      width:7%;
      height:14%;
      background:#999;
      @include abs($b:100%);
      &.fail{
        @include trs('opacity #{$anim} ease-in-out');
        opacity:0;
        pointer-events:none;
      }
      &.caught{
        @include trs('transform #{$anim} ease-in-out');
        transform:scale(0);
        pointer-events:none;
      }
    }
    .t-text{
      @include center();
    }
    .t-drop{
      background:rgba(#f00,0.2);
      width:50%;
      height:50%;
      @include center();
    }
    //end game
  }
  //orientation
  .loader-pop{
    @include abs($l:0,$r:0,$t:0,$b:0);
    @include trs('opacity #{$anim} ease-in-out');
    @extend %loader;
    background-color:#eee;
    .ready &{
      opacity:0;
      pointer-events:none;
    }
  }
  .orientation-pop{
    @include abs($l:0,$r:0,$t:0,$b:0);
    display:none;
    background:#fff;
    font-size:30px;
    line-height:30px;
    @include flx(justify-content,center);
    @include flx(align-items,center);
    .too-small &{
      @include flx(display,flex);
    }
  }
}