@include exports("@path:components\_game.scss"){/*@path:components\_game.scss*/
  @include kfs(null-end){
    25%{
      opacity:1;
    }
    40%{
      opacity:0;
    }
    75%{
      opacity:1;
    }
    99%{
      opacity:1;
      background:#fff url(#{$path}fin.jpg) center/contain no-repeat;
    }
    100%{
      opacity:1;
      background:url(#{$path}fin.jpg) center/contain no-repeat;
    }
  };

  .trash-pop{
    @include abs($l:0,$r:0,$t:0,$b:0);
    //@include abs($l:-1px,$r:-1px,$t:0,$b:0);//--old
    //z-index:1;//--old
    background:#ddd;
    text-align:center;
    /*opacity:0;//--old
    pointer-events:none;
    @include trs('opacity #{$anim} ease-in-out');
    &.fs{
      left:0;
      right:0;
      .trash-wrap{
        @include abs($l:0,$r:0,$t:0,$b:0);
        @extend %scaler;
      }
    }
    &.shown{
      opacity:1;
      pointer-events:auto;
    }*/
    &.fs{
      .video-js{
        border-radius:0;
      }
    }
    &.mfs{
      .video-js{
        border-radius:0;
        @include abs($p:fixed,$l:0,$r:0,$t:0,$b:0);
        z-index:1;
      }
    }
    &.game-playing{
      .return-btn,.game-btn,.videos-btn,.map-btn,.book-btn,.chat-btn,.null-btn,.menu-btn,.load-save-btn{
        pointer-events:none;
        //opacity:0.2;
      }
    }
    &.null{
      pointer-events:none;
      .p-off{
        display:none;
      }
      .prog-u{
        z-index:2;
      }
    }
    &.null-end{
      pointer-events:auto;
      &:before{
        animation:null-end .2s ease-in-out forwards;
        pointer-events:auto;
      }
      .video-js{
        @include abs($l:0,$t:0,$p:fixed);
        z-index:2;
        border-radius:0;
      }
      .vjs-control-bar{
        display:none;
      }
      .vid-overlay{
        opacity:0;
      }
    }
    &.null-after{
      .prog-u{
        z-index:0;
      }
    }
    &:before{
      content:'';
      pointer-events:none;
      background:#fff center/contain;
      @include abs($l:0,$r:0,$t:0,$b:0,$p:fixed);
      opacity:0;
      z-index:1;
    }
    svg{
      @include abs($l:0,$t:0);
      width:100%;
      height:100%;
    }
    .trash-wrap{
      height:100%;
      position:relative;
    }
    .trash-bg-shad{
      @include abs($l:-12.5%,$t:-12.5%,$r:-12.5%,$b:-12.5%);
    }
    .trash-bg{
      @include abs($l:0,$t:0);
      width:100%;
      height:100%;
      pointer-events:none;
    }
    .trash-main{
      @include abs($l:13.095%,$t:4.6%);
      width:68.67%;
      height:68%;//15.9%,8.9%
      //@include abs($l:12.95%,$t:4.1%);
      //width:69%;
      //height:69%;
      /*$bg:'';
      @for $x from 0 through 5
      {
       $bg:'linear-gradient(90deg,#{rgba(#fff,0.2)} 3px,transparent 3px,transparent 3px) left '+(10.7+15.9*$x)+'%/6px 1px repeat-x,'+$bg;
      }
      @for $x from 0 through 11
      {
        $bg:'linear-gradient(0deg,#{rgba(#fff,0.2)} 3px,transparent 3px,transparent 3px) '+(1.1+8.9*$x)+'% top/1px 6px repeat-y,'+$bg;
      }
      $bg:str-slice($bg,1,str-length($bg)-1)+';';
      background:unquote($bg);*/
    }
    .return-btn,.videos-btn,.map-btn,.book-btn,.chat-btn,.game-btn{
      cursor:pointer;
      @include abs($l:2.3%);
      width:8.9%;
      height:9.7%;
      @extend %svg-click;
    }
    .return-btn{
      top:4.2%;
      height:16.4%;
    }
    .videos-btn{
      top:22.2%;
      width:8.9%;
    }
    .map-btn{
      top:32.8%;
      width:8.9%;
    }
    .book-btn{
      top:43.4%;
      width:8.9%;
    }
    .chat-btn{
      top:54%;
      width:8.9%;
    }
    .game-btn{
      bottom:3.1%;
      width:8.9%;
      height:19.7%;
    }
    .null-btn{
      @include abs($r:4.1%,$t:11.1%);
      width:9.7%;
      height:18.9%;
      cursor:pointer;
      @extend %svg-click;
    }
    .prog{
      @include abs($t:36.8%,$r:4%);
      width:6em;
    }
    .prog1,.prog2,.prog3{
      margin-top:.5em;
      height:1.5em;
      position:relative;
      &.disabled{
        .prog-inac{
          width:100%;
        }
      }
      div{
        position:absolute;
        overflow:hidden;
        width:100%;
        height:100%;
        @include trs('width #{$anim} linear');
        &:nth-child(n+2){
          width:0;
        }
      }
      svg{
        width:6em;
      }
    }
    .prog-ini{
      display:block;
    }
    .prog-u{
      @include abs($r:3.9%,$t:55.7%);
      width:10%;
      height:4%;
      @include flx(display,flex);
      @include flx(justify-content,space-between);
      .p-anim{
        position:absolute;
        width:100%;
        height:100%;
      }
    }
    /*.t-f-under{
      @include abs($l:12.9%,$b:4.2%);
      width:69.1%;
      height:18.6%;//15.9%,8.9%
      background:#000;
      border-radius:1%/5%;
    }*/
    .trash-footer{
      @include abs($l:13.1%,$b:4.2%);
      width:68.7%;
      height:18.6%;

      /*$bg:'';
      @for $x from 0 through 1
      {
        $bg:'linear-gradient(90deg,#{rgba(#fff,0.2)} 3px,transparent 3px,transparent 3px) left '+(20.9+58.2*$x)+'%/6px 1px repeat-x,'+$bg;
      }
      @for $x from 0 through 11
      {
        $bg:'linear-gradient(0deg,#{rgba(#fff,0.2)} 3px,transparent 3px,transparent 3px) '+(1.1+8.9*$x)+'% top/1px 6px repeat-y,'+$bg;
      }
      $bg:str-slice($bg,1,str-length($bg)-1)+';';
      background:unquote($bg);*/
    }
    .menu-btn,.load-save-btn{
      @include abs($r:9.9%,$b:6.4%);
      width:6.3%;
      height:16.4%;
      cursor:pointer;
      @extend %svg-click;
    }
    .load-save-btn{
      right:1.5%;
    }

    .trash-block{
      @include abs($l:0,$r:0,$t:0,$b:0);
      border-radius:1%;
      height:100%;
      opacity:0;
      visibility:hidden;
      @include trs('opacity #{$anim} ease-in-out');
      &.shown{
        opacity:1;
        visibility:visible;
      }
      &.game{
        background:center/cover no-repeat;
        &.game-play{
          .the-game{
            display:block;
          }
          .game-start{
            display:none;
          }
          .g-play{
            display:block;
          }
        }
        &.game-end1{
          .game-start{
            display:none;
          }
          .game-end{
            display:block;
          }
          .game-end-block:nth-child(1){
            display:block;
          }
          .win-tab:nth-child(1) svg{
            display:block;
          }
        }
        &.game-end2{
          .game-start{
            display:none;
          }
          .game-end{
            display:block;
          }
          .game-end-block:nth-child(2){
            display:block;
          }
          .win-tab:nth-child(2) svg{
            display:block;
          }
        }
        &.game-easy{
          .game-start-bg:nth-child(1){
            display:block;
          }
        }
        &.game-normal{
          .game-start-bg:nth-child(2){
            display:block;
          }
        }
        &.game-hard{
          .game-start-bg:nth-child(3){
            display:block;
          }
        }
      }
      &.flow{
        @include flx(display,flex);
        @include flx(justify-content,space-between);
        @include flx(flex-flow,'row wrap');
        .bottom-panel{
          overflow:hidden;
          cursor:move;
        }
      }
      &.map{
        &.map-zoom{
          .map-inner{
            --w:0;//set in js
            --p:0;//set in js
            width:var(--w);
            height:calc(var(--w)*var(--p));
            left:calc(var(--w)*-1/4);
            top:calc(var(--w)*var(--p)/-4);
          }
        }
        &.shown.map-popped{
          .map-block{
            display:none;
          }
          .uni-pop{
            visibility:visible;
            opacity:1;
          }
          .map-ctrls{
            display:none;
          }
          .tab-tabs{
            @include flx(display,flex);
          }
        }
        .uni-pop{
          &.reacted~.bottom-panel{
            pointer-events:none;
            svg+svg{
              width:50%;
            }
            .map-b-p-perc{
              display:block;
            }
          }
        }
        .t-scroll{
          margin-right:1.5em;
        }
        .tab-tabs{
          display:none;
          height:100%;
        }
        .tab-tab{
          width:9em;
          color:getc(dblue);
          margin-top:-1.3em;
          @include flx(display,flex);
          @include flx(flex-flow,'row wrap');
          @include flx(align-items,center);
          &:not(.shown):hover svg:nth-child(2){
            display:block;
          }
          &.shown{
            svg:nth-child(1){
              display:block;
            }
          }
          svg{
            &:nth-child(3){
              position:relative;
              display:block;
              top:10%;
              height:80%;
            }
          }
        }
        .map-b-p-h{
          display:block;
          width:100%;
          margin-top:.5em;
        }
        .map-b-p-perc{
          display:none;
          width:50%;
          position:relative;
          left:-.5em;
          top:10%;
        }
      }
      &.bible{

      }
      &.chat{
        color:#000;
      }
      &.loadsave{
        color:getc(blue);
        text-align:left;
        &.ls-load-end{
          .ls-load{
            display:none;
            &:nth-child(2){
              display:block;
            }
          }
          .ls-form,.ls-bottom{
            display:none;
          }
          .ls-bot-bd{
            top:13em;
          }
          .ls-ok{
            display:block;
          }
        }
        &.ls-load-err{
          .ls-bottom{
            display:none;
          }
          .ls-load-from{
            border-color:getc(err);
            color:getc(err);
          }
          .ls-err{
            display:block;
          }
        }
        .big-h{
          @include abs($l:1em,$t:.6em);
          font-size:2em;
          text-transform:uppercase;
        }
        .tab-tab{
          &:not(.shown):hover svg:nth-child(2){
            display:block;
          }
        }
      }
      &.menu{
        color:getc(blue);
        text-align:left;
        &.menu-ref-copied .shar-block .notif-ok{
          display:block;
        }
        .tab-block{
          left:1em;
          right:1em;
        }
        .big-h{
          font-size:1.2em;
          text-transform:uppercase;
          @include abs($t:1.2em);
        }
        .tab-top-bd{
          top:4em;
        }
        .tab-tab{
          &:not(.shown):hover svg:nth-child(2){
            display:block;
          }
        }
      }

      @for $x from 1 through 4
      {
        &.tab-tab#{$x - 1}{
          .tab-block:nth-child(#{$x}){
            top:0;
            bottom:0;
          }
          .bottom-panel .tab-tab:nth-child(#{$x}) svg:nth-child(1){
            display:block;
          }
        }
        &.tab-tab-#{$x - 1}{
          .subtab-block:nth-child(#{$x}){
            display:block;
          }
          .menu-subtabs .tab-tab:nth-child(#{$x}) svg:nth-child(1){
            display:block;
          }
        }
      }
    }
    //---
    .bottom-panel{
      @include abs($l:0,$t:105.5%,$r:0);
      height:30%;
      &.g-start{
        @include flx(display,flex);
        @include flx(justify-content,space-between);
        @include flx(align-items,center);
      }
      &.g-play{
        display:none;
        color:getc(blue);
        font-size:0.7em;
      }
      &.g-end{
        @include flx(display,flex);
        @include flx(justify-content,space-between);
        @include flx(align-items,center);
        padding:0 1.7em;
      }
    }
    //menu
    .menu-subtabs{
      @include abs($r:-.5em,$t:.5em);
      width:8em;
      height:3em;
      padding:0 0.7em;
      @extend %bxz;
    }
    .subtab-block{
      display:none;
      overflow:hidden;
      position:relative;
      .t-scroll-wrap{
        margin-top:5.2em;
        height:18.7em;
        padding-right:1.5em;
      }
      .t-scroll-inner{
        padding-bottom:.5em;
      }
      .t-scroll-bar{
        top:6em;
        bottom:1em;
      }
      .sub-h{
        font-weight:700;
      }
      .sub-img{
        margin:.8em 0;
        width:3em;
        height:3em;
        position:relative;
      }
      a{
        color:inherit;
      }
    }
    .subtab-art:nth-child(n+2){
      margin-top:.8em;
      padding-top:.8em;
      border-top:1px solid getc(blue);
    }
    //---
    .callb-form{
      margin-top:5.2em;
      input,textarea{
        margin-top:1em;
        padding-left:1em;
        border:.04em solid getc(dblue);
        width:48%;
        height:2.2em;
        border-radius:0.3em;
        background:none;
        color:getc(blue);
        @extend %bxz;
        @include plh(){
          color:getc(blue);
        };
        &.error{
          border-color:#f00;
          &+.callb-c{
            border-color:#f00;
          }
        }
      }
      textarea{
        width:100%;
        height:5.5em;
        padding-top:0.5em;
      }
    }
    .callb-init{
      @include flx(display,flex);
      @include flx(flex-flow,'row wrap');
      @include flx(justify-content,space-between);
      &.hidden{
        display:none;
      }
    }
    .callb-where{
      @include flx(display,flex);
      line-height:2em;
      width:100%;
      height:2em;
      div{
        border-radius:0.4em;
        margin-right:1em;
        padding:0 1em;
        border:.04em solid getc(dblue);
        cursor:pointer;
        &.active{
          background:getc(dblue);
          color:#000;
        }
      }
    }
    .callb-ch{
      margin-top:0.8em;
      position:relative;
      padding-left:2em;
      cursor:pointer;
      width:100%;
      @extend %bxz;
      input{
        opacity:0;
        position:absolute;
        pointer-events:none;
        &:checked+.callb-c:before{
          content:'';
          @include abs($l:0.35em,$t:0.15em);
          transform:rotate(45deg);
          width:.3em;
          height:.5em;
          border-right:.04em solid getc(dblue);
          border-bottom:.04em solid getc(dblue);
        }
      }
    }
    .callb-c{
      width:1em;
      height:1em;
      @include center($l:0);
      border-radius:0.2em;
      border:.04em solid getc(dblue);
    }
    .menu-b-btn{
      @include abs($l:-.8em,$r:-.8em,$b:.2em);
      height:5em;
      cursor:pointer;
      span{
        @include center();
      }
    }
    .callb-sent{
      display:none;
      padding-top:.5em;
      &.shown{
        display:block;
      }
    }
    .notif-ok{
      padding-left:3.5em;
      position:relative;
      height:3em;
      font-weight:700;
      svg{
        width:3em;
        top:-1em;
      }
    }
    //---
    .auth-block{
      overflow:hidden;
      position:relative;
      .t-scroll-wrap{
        margin-top:5.2em;
        height:18.7em;
        padding-right:1.5em;
      }
      .t-scroll-inner{
        padding-bottom:.5em;
      }
      .t-scroll-bar{
        top:6em;
        bottom:1em;
      }
    }
    .auth-item{
      margin-top:0;
      @include flx(display,flex);
      &:nth-child(n+2){
        margin-top:.5em;
        padding-top:.5em;
        border-top:.04em solid getc(dblue);
      }
      div{
        width:14em;
        &:nth-child(2){
          font-weight:700;
        }
      }
    }
    .shar-block{
      margin-top:5.2em;
      .notif-ok{
        display:none;
        margin-top:1em;
      }
      input{
        opacity:0;
        pointer-events:none;
      }
    }
    //end menu
    //game
    .the-game{
      display:none;
      overflow:hidden;
      @include abs($l:0,$r:0,$t:0,$b:0);
    }
    .bins{
      @include abs($l:3%,$r:3%,$b:0,$t:0);
      @include flx(display,flex);
      @include flx(justify-content,space-between);
      @include flx(align-items,flex-end);
    }
    .bin{
      width:10%;
      height:20%;
      position:relative;
      img{
        @include abs($l:0);
        width:100%;
        height:100%;
        &+img{
          z-index:1;
        }
      }
    }
    .b-drop{
      width:100%;
      height:100%;
      @include center();
      div{
        @include abs($l:-30%,$r:-30%,$t:-30%,$b:-30%);
      }
    }
    .fail-line{
      @include abs($l:0,$r:0,$b:-5%);
      //border-top:2px solid rgba(#f00,0.4);
    }
    .trash{
      width:7%;
      height:14%;
      @include abs($b:100%);
      &.fail{
        @include trs('opacity #{$anim} ease-in-out');
        opacity:0;
        pointer-events:none;
      }
      &.put{
        @include trs('transform #{$anim} ease-in-out');
        transform:scale(0);
        pointer-events:none;
      }
      &.up{
        pointer-events:none;
      }
      img{
        width:100%;
        height:100%;
      }
    }
    .t-drop{
      width:100%;
      height:100%;
      @include center();
    }
    .game-sorted{
      @include abs($t:0.8em,$l:2.2em);
      width:33.4em;
    }
    .game-remaining{
      @include abs($t:1em,$l:38em);
      width:21.2em;
    }
    .game-sorted-p{
      @include center($l:2.45em);
      width:33em;
      height:2.4em;
      div{
        border-radius:1.2em;
      }
    }
    .game-remaining-p{
      @include center($l:38em);
      width:21.2em;
      div{
        font-size:2em;
      }
    }
    .game-start{
      @include abs($l:0,$r:0,$t:0,$b:0);
    }
    .game-start-bg{
      display:none;
    }
    .game-text{
      @include abs($l:1.5em,$t:1em);
      width:20em;
      height:3.3em;
      text-align:left;
      line-height:1;
      color:getc(blue);
      @include flx(display,flex);
      @include flx(align-items,center);
      &+.game-text{
        top:5em;
        height:6.4em;
      }
    }
    .game-diff-h{
      width:10.2em;
      color:getc(blue);
      position:relative;
      margin-left:6.2em;
    }
    .game-diff-wrap{
      position:relative;
      width:19.2em;
      margin-right:1.8em;
      @include flx(display,flex);
      @include flx(justify-content,space-between);
      @include flx(align-items,center);
    }
    .game-diff-ctrl{
      width:2em;
      height:2em;
      cursor:pointer;
    }
    .game-diff{
      width:6em;
      color:getc(dblue);
    }
    .game-end{
      display:none;
      @include abs($l:0,$r:0,$t:0,$b:0);
      color:getc(blue);
    }
    .game-end-block{
      display:none;
      svg{
        background:getc(popPatch);
      }
    }
    .game-win-text{
      @include abs($b:12.5em,$l:0,$r:0);
      &+.game-win-text{
        bottom:auto;
        top:14.6em;
      }
      div{
        font-size:1.5em;
        line-height:1.1;
        font-weight:700;
      }
    }
    .game-win-h{
      @include abs($t:0.8em,$l:0,$r:0);
      div{
        font-size:2em;
        font-weight:700;
      }
    }
    .game-win-stat{
      @include abs($t:6.5em,$l:0,$r:0);
      &+.game-win-stat{
        top:16.4em;
      }
    }
    .game-win-sorted-p,.game-qual-sorted-p{
      @include center($t:8.85em);
      width:26em;
      height:1.75em;
      div{
        border-radius:1em;
      }
    }
    .game-qual-sorted-p{
      top:18.755em;
    }
    .win-tab{
      width:19.2em;
      height:3.4em;
      cursor:pointer;
      svg{
        display:none;
        pointer-events:none;
      }
    }
    //end game
    //flow
    .vid-initial{
      @include abs($l:0,$r:0,$t:0,$b:0);
      background:center/cover no-repeat;
      color:getc(blue);
      font-size:1.5em;
      line-height:1.2em;
      text-transform:uppercase;
      font-weight:700;
      pointer-events:none;
      @include flx(display,flex);
      @include flx(align-items,center);
      @include flx(justify-content,center);
      .vidStartedOnce &{
        display:none;
      }
    }
    .vid-overlay{
      @include abs($l:0,$r:0,$t:0,$b:0);
      background: url(#{$path}flow-pause.png) center/cover no-repeat;
      pointer-events:none;
      color:#fff;
      font-size:2.5em;
      font-weight:700;
      display:none;
      .paused &{
        display:block;
      }
      .blocked &{
        display:block;
        position:fixed;
        z-index:3;
        background:url(#{$path}block-bg-text.svg) center/contain no-repeat, url(#{$path}block-bg.svg) center/cover no-repeat;
        .vid-name{
          display:none;
        }
      }
    }
    .vid-name{
      text-align:center;
      margin-top:1em;
      text-transform:uppercase;
    }
    .episodes{
      position:relative;
      height:100%;
      @include flx(display,flex);
      @include flx(align-items,center);
    }
    .ep-item{
      --size:11.025em;
      width:var(--size);
      height:calc(var(--size)/2);
      position:relative;
      left:-.5em;
      pointer-events:none;
      @include flx(flex,'0 0 auto');
      &:not(.active):not(.inav):hover svg:nth-child(4){
        display:block;
      }
      &.active{
        svg{
          &:nth-child(1){
            display:none;
          }
          &:nth-child(2){
            display:block;
          }
        }
        span{
          pointer-events:none;
        }
      }
      &.inav{
        svg{
          &:nth-child(1){
            display:none;
          }
          &:nth-child(2){
            display:none;
          }
          &:nth-child(3){
            display:block;
          }
        }
        span{
          opacity:0.3;
          pointer-events:none;
          color:getc(blue);
        }
      }
      svg{
        &:nth-child(n+2){
          display:none;
        }
      }
      span{
        pointer-events:auto;
        @include center();
        padding:.5em;
        font-size:3em;
        color:getc(blue);
        font-weight:700;
        text-shadow:0 0 11px rgba(103,191,241,0.66),0 0 20px rgba(103,191,241,0.5);
      }
    }
    .ep-wrap{
      height:100%;
    }
    //end flow
    //map
    .map-block{
      @include abs($l:0,$t:0,$r:0,$b:0);
      overflow:hidden;
      .brows{
        pointer-events:none;
      }
    }
    .map-inner{
      @include abs($l:0,$t:0);
      width:100%;
      height:100%;
      background:center/cover no-repeat;
    }
    .map-mark{
      position:absolute;
      width:2em;
      height:2em;
      cursor:pointer;
      &.shown{
        svg{
          display:none;
          &+svg{
            display:block;
          }
        }
      }
      svg+svg{
        display:none;
      }
    }
    .map-pop-big{
      @include abs($l:9%,$t:12%);
      width:30%;
      height:66%;
    }
    .map-pop-forget{
      @include abs($b:4%,$r:16.3%);
    }
    .map-b-p-bg{
      pointer-events:none;
    }
    .map-ctrls{
      height:100%;
      @include flx(display,flex);
      @include flx(align-items,center);
      .h{
        @include abs($l:9.05em,$t:.4em);
        color:getc(dblue);
      }
      .zoom-in,.zoom-out{
        width:4.3em;
        height:3.5em;
        cursor:pointer;
        &:hover svg{
          display:block;
        }
        svg{
          pointer-events:none;
          display:none;
        }
      }
      .zoom-out{
        margin-left:28em;
      }
      .zoom-in{
        margin-left:4em;
      }
      .prog{
        @include center($l:1.15em);
        width:23.65em;
        height:1.75em;
        div{
          border-radius:1.2em;
        }
      }
    }
    //end map
    //bible
    .bible-items{
      @include abs($l:0,$t:0,$r:0,$b:0);
      overflow:hidden;
    }
    .bible-items-inner{
      @include flx(display,flex);
      @include flx(flex-flow,'row wrap');
    }
    .bible-item{
      width:9.75em;
      height:12em;//always .hidden for now and set in shared
      position:relative;
      cursor:pointer;
      margin-left:.9em;
      &.no{
        pointer-events:none;
      }
    }
    .bible-item-bg{
      position:absolute;
      width:100%;
      height:100%;
    }
    .bible-item-img{
      position:absolute;
      width:100%;
      height:100%;
      img{
        object-fit:contain;
        width:100%;
        height:100%;
      }
    }
    .bible-item-h{
      @include center($b:1.9em);
      width:100%;
      text-align:center;
      color:getc(blue);
      font-size:.6em;
    }
    .bible-tab-name{
      @include center($l:5%);
      color:getc(blue);
      text-align:center;
      width:18.4em;
    }
    .bible-tabs{
      @include abs($l:52%,$t:105.5%,$r:5%);
      height:30%;
      @include flx(display,flex);
      @include flx(justify-content,space-between);
      @include flx(align-items,flex-start);
    }
    .bible-tab{
      width:3.2em;
      height:3.5em;
      cursor:pointer;
      position:relative;
      top:1.7em;
      &:not(.active):hover img:nth-child(3){
        opacity:1;
      }
      &.active{
        opacity:1;
        img{
          &:nth-child(1){
            opacity:0;
          }
          &:nth-child(2){
            opacity:1;
          }
        }
      }
      img{
        @include abs($l:0);
        width:100%;
        &:nth-child(n+2){
          opacity:0;
        }
      }
    }
    .bible-pop-big{
      @include abs($l:4%,$t:2%,$b:3%);
      width:40%;
      img{
        object-fit:contain;
        width:100%;
        height:100%;
      }
    }
    //end bible
    //chat
    .chat-content{
      @include abs($l:0,$r:0,$t:17%,$b:0);
      overflow:hidden;
    }
    .chat-wrap{
      height:100%;
      overflow-y:scroll;
    }
    .chat-inner{
      padding-bottom:2em;
    }
    .chat-top{
      @include abs($l:0,$r:0);
      height:15%;
      color:getc(blue);
    }
    .chat-top-bd{
      height:2px;
      top:100%;
    }
    .chat-ava{
      @include center($l:1.5%);
      width:10%;
      height:70%;
    }
    .chat-name{
      @include center($l:11%);
    }
    .chat-msg{
      margin:1.2em 1.7em 0 1.68em;
      opacity:0;
      @include trs('opacity #{$anim*2} ease-in-out');
      &.bot{
        text-align:left;
        transition-delay:$anim*2;
        .chat-msg-text{
          div{
            border-color:getc(blue);
            color:getc(blue);
            /*&:before{
              left:-0.3em;
              border-top:0.5em solid #FFE97D;
              border-left:0.3em solid transparent;
            }*/
          }
        }
      }
      &.me{
        text-align:right;
        .chat-msg-text{
          div{
            border-color:getc(dblue);
            color:getc(dblue);
            /*&:before{
              right:-0.3em;
              border-top:0.5em solid #91FF7A;
              border-right:0.3em solid transparent;
            }*/
          }
        }
      }
      &.shown{
        opacity:1;
      }
    }
    .chat-msg-date{
      color:#fff;
      opacity:0.3;
      font-size:0.6em;
      margin-bottom:0.5em;
    }
    .chat-msg-text{
      div{
        display:inline-block;
        text-align:left;
        padding:0.6em 0.7em;
        position:relative;
        border-radius:0.7em;
        border:2px solid #000;
        /*&:before{
          content:'';
          @include abs($t:0);
        }*/
      }
    }
    .chat-ctrls{
      padding:0 1em;
      text-align:left;
      color:getc(dblue);
      text-shadow:0 0 11px rgba(103,191,241,0.33),0 0 20px rgba(103,191,241,0.25);
      @include flx(display,flex);
      @include flx(align-items,center);
    }
    .chat-ctrls-bg{
      pointer-events:none;
    }
    .chat-choose{
      cursor:pointer;
      opacity:0;
      height:50%;
      margin:0 0.7em;
      text-align:center;
      @include flx(display,flex);
      @include flx(align-items,center);
      @include flx(justify-content,center);
      @include flx(flex,'1 0 100px');
      @include trs('opacity #{$anim} ease-in-out');
      &:hover .chat-choose-h{
        opacity:1;
      }
      &.shown{
        opacity:1;
      }
    }
    .chat-choose-h{
      pointer-events:none;
      opacity:0;
      @include trs('opacity #{$anim} ease-in-out');
    }
    //end chat
    //loadsave
    .ls-descr{
      @include abs($l:2em,$r:2em,$t:7em);
      b{
        display:block;
        margin-bottom:1.5em;
      }
    }
    .ls-bot-bd{
      top:20em;
      height:2px;
    }
    .ls-load{
      &:nth-child(2){
        display:none;
      }
    }
    .ls-form{
      @include abs($l:2em,$t:14em,$r:4em);
      @include flx(display,flex);
      @include flx(align-items,center);
      @include flx(justify-content,space-between);
      input{
        border:.04em solid getc(dblue);
        width:11em;
        height:1.8em;
        font-size:2em;
        font-weight:700;
        border-radius:0.9em;
        background:none;
        text-align:center;
        color:getc(blue);
        @extend %bxz;
      }
    }
    .ls-copy-from{
      pointer-events:none;
      &::selection{
        color:#000;
        background:getc(blue);
      }
    }
    .ls-btn{
      position:relative;
      width:15em;
      height:5em;
      cursor:pointer;
      &.ls-clr-btn{
        margin:0.1em 0 0 -1.25em;
        height:4.8em;
      }
    }
    .ls-bottom{
      @include abs($l:2em,$t:21.8em);
    }
    .ls-err{
      @include abs($l:2em,$t:21.8em);
      display:none;
      color:getc(err);
    }
    .ls-ok{
      display:none;
      top:13.7em;
      left:50%;
      margin-left:-5em;
      width:11em;
      height:10em;
    }

    .tab-top-bd{
      top:5em;
      height:2px;
    }
    //end loadsave
  }
  //other
  @include kfs(start-logo){
    100%{
      @include trf(rotate(360deg));
    }
  };
  @include kfs(start-dots){
    50%{
      opacity:0;
    }
  };

  .loader-pop{
    @include abs($l:0,$r:0,$t:0,$b:0);
    @include trs('opacity #{$anim} ease-in-out');
    z-index:1;
    color:getc(blue);
    white-space:nowrap;
    background:#000;
    .loaded &{
      .text-e{
        display:block;
      }
      .logo-rotate,.dots{
        display:none;
      }
      .btn{
        pointer-events:auto;
        svg{
          &:nth-child(-n+2){
            display:none;
          }
          &:nth-child(3){
            display:block;
          }
        }
      }
    }
    .start &{
      opacity:0;
      pointer-events:none;
      .btn{
        pointer-events:none;
      }
    }
    svg,img{
      position:absolute;
      width:100%;
      height:100%;
    }
    .content{
      @include center();
      width:21em;
      height:28em;
    }
    .logo{
      width:8em;
      height:8em;
      @include center($t:1.5em);
    }
    .logo-rotate{
      animation:start-logo 5s linear infinite;
      position:absolute;
      width:100%;
      height:100%;
    }
    .text{
      text-transform:uppercase;
      @include center($t:12.6em);
      text-align:center;
    }
    .text-e{
      display:none;
    }
    .dots{
      span{
        animation:start-dots 2s linear infinite;
        &:nth-child(2){
          animation-delay:.5s;
        }
        &:nth-child(3){
          animation-delay:1s;
        }
      }
    }
    .btn{
      @include center($b:1.6em);
      width:8em*1.4;
      height:8em;
      pointer-events:none;
      cursor:pointer;
      &:hover{
        svg:nth-child(2){
          display:block;
        }
      }
      svg:nth-child(n+2){
        display:none;
      }
    }
  }
  .orientation-pop{
    @include abs($l:0, $r:0, $t:0, $b:0);
    display:none;
    font-size:2em;
    line-height:2em;
    z-index:1;
    text-align:center;
    color:#fff;
    @include flx(justify-content, center);
    @include flx(align-items, center);
    .too-small &{
      @include flx(display, flex);
    }
    .text{
      position:relative;
      font-size:2em;
      svg{
        position:static;
        width:4em;
        height:4em;
        margin:0 auto 1em auto;
        display:block;
      }
    }
    svg,img{
      position:absolute;
      width:100%;
      height:100%;
    }
  }
}