@include exports("@path:components\_shared.scss"){/*@path:components\_shared.scss*/
  .t-scroll{
    text-align:left;
    overflow:hidden;
    @include abs($l:0,$r:0,$t:5em,$b:0);
  }
  .t-scroll-wrap{
    height:100%;
    overflow:auto;
    padding-right:0.75em;
    &.hidden{
      .bible-item{
        //width:10.9em;
        //height:12em;
      }
    }
  }
  .t-scroll-inner{

  }
  .t-hdr{
    font-size:1.5em;
    margin:0 1.5em 1em 0;
  }
  .t-scroll-bar{
    @include abs($t:.5em,$b:.5em,$r:.3em);
    width:0.6em;
    background:getc(popPatch);
    border-radius:0.3em;
    border:1px solid getc(blue);
    &.hidden{
      display:none;
    }
    &:after{
      content:'';
      @include abs($l:0,$t:0,$b:0,$r:0);
      border:1px solid getc(popPatch);
      border-radius:0.3em;
      pointer-events:none;
    }
    div{
      background:getc(blue);
      width:100%;
      height:10%;
      position:absolute;
      border-radius:0.3em;
      //box-shadow:0 1px 0 1px #000,0 -1px 0 1px #000;
    }
  }
  //---
  .the-progress{
    background: url(#{$path}trash-progress.png) center/40em 100% no-repeat;
    height:100%;
    width:0;
    @include trs('width #{$anim*2} ease-in-out');
  }
  //---
  .uni-pop{
    color:getc(blue);
    opacity:0;
    visibility:hidden;
    @include trs('opacity #{$anim} ease-in-out');
    @include abs($l:0,$t:0,$r:0,$b:0);
    .map &{
      //position:fixed;
      //z-index:1;
      //font-size:1.45em;
      //@extend %scaler;
    }
    .shown &.shown{
      opacity:1;
      visibility:visible;
    }
  }
  .uni-pop-close{
    width:2.3em;
    height:2.4em;
    cursor:pointer;
    z-index:1;
    @include abs($r:1%,$t:1%);
    &:hover~.hover{
      opacity:1;
    }
  }
  .uni-pop-bg{
    .bible &:nth-child(2){
      background:getc(popPatch);
    }
    &.hover{
      @include trs('opacity #{$anim} ease-in-out');
      opacity:0;
    }
  }
  .uni-pop-text{
    @include abs($l:22em,$r:.7em,$t:1em);
    height:21em;
    .map &{
      height:19em;
    }
    .t-scroll-wrap{
      padding-right:2em;
    }
    .t-scroll-bar{
      top:2.2em;
      right:0;
      bottom:-1em;
      .map &{
        bottom:-3em;
      }
    }
  }
  //---
  .tab-block{
    @include abs($l:0,$r:0,$t:-5000px);
  }
  .tab-tabs{
    @include flx(display,flex);
    @include flx(justify-content,space-between);
    @include flx(align-items,center);
    padding:0 1.7em;
  }
  .tab-tab{
    width:12.8em;
    height:3.4em;
    cursor:pointer;
    svg{
      display:none;
      pointer-events:none;
    }
  }
}