@include exports("@path:components\_video.scss"){/*@path:components\_video.scss*/
  .video-js{
    width:100%;
    height:100%;
  }
  .video-js .vjs-big-play-button{
    display:none;//
    @include center();
  }
  .vjs-error .vjs-error-display .vjs-modal-dialog-content{
    color:#000;
  }
}