<!DOCTYPE html>
<html data-app="index">
    <head>
		@@include('components/head.html')
        @@include('components/scripts.html')
	</head>
	<body>
		<div id="wrap">
			<div id="wrap-wrap">
                <video
                        class="video-js"
                        controls
                        preload="auto"> <!--poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}'-->
                <!--<source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
                <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>
                <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source>-->
                    <source src="../oceans.mp4" type="video/mp4" />
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a
                    web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">
                        supports HTML5 video
                    </a>
                </p>
                </video>
            </div>
		</div>
        <script type="text/template" id="trash-template">
            <div class="trash-wrap">
                <svg class="trash-bg">
                    <use xlink:href="#icon-shared-bg"></use>
                </svg>
                <div class="return-btn">
                    <svg>
                        <use xlink:href="#icon-shared-btn-play"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#icon-shared-btn-play-click"></use>
                    </svg>
                </div>
                <div class="videos-btn">
                    <svg>
                        <use xlink:href="#icon-shared-btn-potok-passive"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#icon-shared-btn-potok-passive-click"></use>
                    </svg>
                </div>
                <div class="map-btn">
                    <svg>
                        <use xlink:href="#icon-shared-btn-karta-passive"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#icon-shared-btn-karta-passive-click"></use>
                    </svg>
                </div>
                <div class="book-btn">
                    <svg>
                        <use xlink:href="#icon-shared-btn-biblia-passive"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#icon-shared-btn-biblia-passive-click"></use>
                    </svg>
                </div>
                <div class="chat-btn">
                    <svg>
                        <use xlink:href="#icon-shared-btn-chat-passive"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#icon-shared-btn-chat-passive-click"></use>
                    </svg>
                </div>
                <div class="game-btn">
                    <svg>
                        <use xlink:href="#icon-shared-btn-tresh-active"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#icon-shared-btn-tresh-passive-click"></use>
                    </svg>
                </div>
                <div class="trash-main">
                    <div class="trash-game">
                        <div class="fail-line"></div>
                        <div class="bins"></div>
                    </div>
                </div>
                <div class="null-btn">
                    <svg>
                        <use xlink:href="#icon-shared-obnul"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#icon-shared-obnul-click"></use>
                    </svg>
                </div>
               <div class="prog1">
                   <span>T</span>
                   <svg>
                       <use xlink:href="#icon-shared-prog-gray"></use>
                   </svg>
               </div>
                <div class="prog2">
                    <span>E</span>
                    <svg>
                        <use xlink:href="#icon-shared-prog-green"></use>
                    </svg>
                </div>
                <div class="prog3">
                    <span>S</span>
                    <svg>
                        <use xlink:href="#icon-shared-prog-red"></use>
                    </svg>
                </div>
                <div class="prog-u">
                    <div>
                        <svg>
                            <use xlink:href="#icon-shared-loader-gray"></use>
                        </svg>
                        <svg>
                            <use xlink:href="#icon-shared-loader-green"></use>
                        </svg>
                    </div>
                    <div>
                        <svg>
                            <use xlink:href="#icon-shared-loader-gray"></use>
                        </svg>
                        <svg>
                            <use xlink:href="#icon-shared-loader-green"></use>
                        </svg>
                    </div>
                    <div>
                        <svg>
                            <use xlink:href="#icon-shared-loader-gray"></use>
                        </svg>
                        <svg>
                            <use xlink:href="#icon-shared-loader-green"></use>
                        </svg>
                    </div>
                    <div>
                        <svg>
                            <use xlink:href="#icon-shared-loader-gray"></use>
                        </svg>
                        <svg>
                            <use xlink:href="#icon-shared-loader-green"></use>
                        </svg>
                    </div>
                    <div>
                        <svg>
                            <use xlink:href="#icon-shared-loader-gray"></use>
                        </svg>
                        <svg>
                            <use xlink:href="#icon-shared-loader-green"></use>
                        </svg>
                    </div>
                    <div>
                        <svg>
                            <use xlink:href="#icon-shared-loader-gray"></use>
                        </svg>
                        <svg>
                            <use xlink:href="#icon-shared-loader-green"></use>
                        </svg>
                    </div>
                    <div>
                        <svg>
                            <use xlink:href="#icon-shared-loader-gray"></use>
                        </svg>
                        <svg>
                            <use xlink:href="#icon-shared-loader-green"></use>
                        </svg>
                    </div>
                </div>
                <div class="t-f-under"></div>
                <div class="trash-footer">
                
                </div>
                <div class="menu-btn">
                    <svg>
                        <use xlink:href="#icon-shared-btn-menu"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#icon-shared-btn-menu-click"></use>
                    </svg>
                </div>
                <div class="load-save-btn">
                    <svg>
                        <use xlink:href="#icon-shared-btn-save"></use>
                    </svg>
                    <svg>
                        <use xlink:href="#icon-shared-btn-save-click"></use>
                    </svg>
                </div>
            </div>
        </script>
        <script type="text/template" id="game-bin-template">
            <div class="b-drop"></div>
            <span class="b-text">Type: <%= type %></span>
        </script>
        <script type="text/template" id="game-trash-template">
            <div class="t-drop"></div>
            <span class="t-text">
                Type: <%= type %><br/>
                Subtype: <%= subtype %>
            </span>
        </script>
        <div class="safe-hide-svg">
            @@include('components/shared-sprite.svg')
        </div>
	</body>
</html>